*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.componentBar{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  background-color: rgba(250, 50, 50, 0.878);
  color: white;
  font-weight: 900;
}
.pokemonCard{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 170px;
  height: 250px;
}
.pokemonImg{
  width: 150px;
  height: 150px;
  border-radius: 5px;
  background-color: lightgray;
}
.pokemonNumber{
  width: 130px;
  height: 20px;
  text-align: center;
  padding: 2px;
  margin: 5px 0 0;
  background-color: purple;
  border-radius: 5px 5px 0 0;
  border: 1px solid purple;
  color: white;
  font-weight: 900;
}
.pokemonName{
  width: 130px;
  height: 30px;
  text-align: center;
  background-color: white;
  border-radius: 0 0 5px 5px;
  padding: 5px;
  font-weight: 900;
  margin: 0 0 5px;
  border: .5px solid rgb(182, 183, 184);
}
.pokemonCard--types{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.pokemonType{
  width: 70px;
  height: 20px;
  background-color: lightblue;
  text-align: center;
  border-radius: 5px;
  font-weight: 900;
  font-size: 1vw;
  padding: 1px;
  margin: 2px;
  border: 1px solid rgb(0, 189, 252);
}
.componentRandomBtn{
  width: 200px;
  height: 30px;
  font-size: 20px;
  background-color: rgba(81, 223, 255, 0.775);
  border: 2px solid rgba(41, 119, 136, 0.775);
  border-radius: 5px;
}
.componentRandomBtn:hover{
  background-color: rgba(41, 119, 136, 0.775);
  border: 2px solid rgba(81, 223, 255, 0.775);
  color: white;
}
.componentSearch{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: gray;
  border: 2px solid black;
  border-radius: 5px;
  width: 320px;
  height: 80px;
}
.componentSearch--label{
  font-size: 20px;
  margin: 5px;
  color: white;
}
.componentSearch--input{
  width: 150px;
  height: 30px;
  border: 2px solid black;
  border-radius: 3px;
  padding-left: 4px;
}
.componentSearch--button{
  width: 30px;
  height: 30px;
  margin-left: 10px;
  background-color: greenyellow;
  border: 2px solid rgb(116, 174, 29);
  border-radius: 7px;
  
}
.componentSearch--button:hover{
  background-color: rgb(116, 174, 29);
  border: 2px solid greenyellow;
}
.componentPageData--title{
  background-color: black;
  color: white;
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 900;
  border-radius: 10px 0 10px 0;
}
.componentPageData--title_name{
  margin-right: 10px;
}
.componentPageData--title_number{
  color: gray;
}
.componentPageImage{
  background-color: rgb(242, 242, 242);
  width: 250px;
  border-radius: 20px;
  border: 1px solid black;
}
.pokemonContainer{
  display: flex;
  justify-content: left;
  flex-direction: column;
}
.pokemonContainer--description{
  
}